<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button routerLink="/home" expand="block">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  <ion-title color="warning" class="ion-text-center">Carrinho</ion-title>
  </ion-toolbar>
</ion-header>
<ion-label>Carrinho de Compras</ion-label>
  <p><ion-icon slot="icon-only" name="cart-outline"></ion-icon></p>

<ion-content>

    <ion-item *ngFor="let produto of listaProdutos; let i = index">

      <ion-thumbnail slot="start">
        <img [src]="produto.foto" />
      </ion-thumbnail>

      <ion-label>
        <h2 class="nomeProduto">{{ produto['nome']}}</h2>
        <p>{{produto.descricao}}</p>
      </ion-label>
      <ion-badge slot="end">{{ produto['quantidade'] }}</ion-badge>

      <ion-badge class="badge" color="dark">Preço: R$ {{ produto['valor'] | number: '1.2-2' }}</ion-badge>
      <ion-button slot="end" (click)="removerDoCarrinho(i)" color="danger">Remover</ion-button>

      

    </ion-item>
    <ion-item *ngIf="listaProdutos.length === 0" lines="none" class="ion-text-center">
      <p>O seu carrinho está vazio.</p>
    </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-label>
      Total R$ {{ totalCarrinho | number: '1.2-2' }}
    </ion-label>
    <ion-buttons slot="end">
      <ion-button  expand="block" (click)="limparCarrinho()">
        <ion-icon name="trash-outline" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

<ion-grid *ngIf="listaProdutos.length > 0">
  <ion-row>
    <ion-col>
      <ion-card color="light" (click)="finalizarCompra()">
        
        <ion-item color="success">
          <ion-label class="titulo-promocao"class="ion-text-center">Finalizar Compra </ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-footer>
