<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-button routerLink="/home" expand="block">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  <ion-title color="danger" class="ion-text-center">Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item *ngFor="let produto of listaProdutos; let i = index">

      <ion-thumbnail slot="start">
        <img [src]="produto.foto" />
      </ion-thumbnail>
      
      <ion-label>
        <h2 class="nomeProduto">{{ produto['nome']}}</h2>
        <p>{{produto.descricao}}</p>
      </ion-label>
      <ion-badge slot="end">{{ produto['quantidade'] }}</ion-badge>

      <ion-badge class="badge" color="dark">Preço: R$ {{ produto['valor'] | number: '1.2-2' }}</ion-badge>

      <ion-button slot="end" color="vmc" (click)="removerDoCarrinho(i)">
        <ion-icon name="remove-circle-outline"></ion-icon>
        
      </ion-button>
      <ion-label slot="end">R$ {{ (produto.quantidade * produto.valor) | number:'1.2-2' }}</ion-label>

    </ion-item>
    
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-label>
      Total R$ {{ totalCarrinho | number: '1.2-2' }}
    </ion-label>
    <ion-buttons slot="end">
      <ion-button  expand="block" (click)="limparCarrinho()">
        <ion-icon name="trash-outline" color="vmc-contrast"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>