<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="warning" class="ion-text-center">
      Categorias
    </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="light" routerLink="/ofertas">
          <img src="assets/promocao.jpg" alt="">
          <ion-item color="dark">
            <ion-label class="titulo-promocao">Confira nossos produtos em promoção!</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="light" routerLink="/carros-importados">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAaYyA1Z42_xyLP91WcKyM3HF_akO_BVFf7Q&usqp=CAU" alt="">
          <ion-item color="light">
            <ion-label>Carros Importados</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="light" routerLink="/carros-nacionais">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgJb3YUPClv9uZ0LQk2Zxlu3CcVf0rvXdQcg&usqp=CAU" alt="">
          <ion-item color="ligth">
          <ion-label>Carros Nacionais</ion-label>
        </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="light" routerLink="/motos-harley">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQH69BpvRwv_B7p8GQa3M5o9lfNcjzUmjdYwQ&usqp=CAU" alt="">
          <ion-item color="ligth">
          <ion-label>Motos Harley</ion-label>
        </ion-item>
        </ion-card>
        </ion-col>
      <ion-col>
        <ion-card color="light" routerLink="/motos-yamaha">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScC6bdiwNjMo1wl9mXNEyruBiTmcpZ5MG1Bg&usqp=CAU" alt="">
          <ion-item color="ligth">
          <ion-label>Motos Yamaha</ion-label>
        </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
